<footer id="footer" class="rel-section text-center text-md-left">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h3>About Us</h3>
                <ul>
                    <li>Brand Introduction</li>
                </ul>
            </div>
            <div class="col-md-2 mt-5 mt-md-0">
                <h3>Hot products</h3>
                <ul>
                    <li>Casual Games</li>
                </ul>
            </div>
            <div class="col-md-2 mt-5 mt-md-0">
                <h3>News</h3>
                <ul>
                    <li>Media Report</li>
                </ul>
            </div>
            <div class="col-md-2 mt-5 mt-md-0">
                <h3>Business</h3>
                <ul>
                    <li>Ad Business</li>
                    <li>Business Partner</li>
                    <li>Investors</li>
                </ul>
            </div>
            <div class="col-md-2 mt-5 mt-md-0">
                <h3>Join Us</h3>
                <ul>
                    <li>job vacancy</li>
                    <li>welfare</li>
                </ul>
            </div>
            <div class="col-md-2 mt-5 mt-md-0">
                <h3>Contact Us</h3>
                <ul>
                    <li>Ad Business</li>
                    <li>Business</li>
                    <li>Media</li>
                    <li>Careers</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container text-center mt-5">
        &copy; 2018-2023, Hippo Entertainment Limited. All rights reserved.
    </div>
</footer>