<footer id="footer" class="rel-section text-center text-md-left">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h3>हमारे बारे में</h3>
                <ul>
                    <li>ब्रांड परिचय </li>
                </ul>
            </div>
            <div class="col-md-2 mt-5 mt-md-0">
                <h3>लोकप्रिय उत्पाद</h3>
                <ul>
                    <li>आराम से खेलें जाने वाले खेल </li>
                </ul>
            </div>
            <div class="col-md-2 mt-5 mt-md-0">
                <h3>समाचार</h3>
                <ul>
                    <li>मीडिया रिपोर्ट</li>
                </ul>
            </div>
            <div class="col-md-2 mt-5 mt-md-0">
                <h3>व्यापार</h3>
                <ul>
                    <li>Ad विज्ञापन व्यापार</li>
                    <li>व्यापारिक साथी</li>
                    <li>निवेशक</li>
                </ul>
            </div>
            <div class="col-md-2 mt-5 mt-md-0">
                <h3>हमारे साथ शामिल हों</h3>
                <ul>
                    <li>नौकरी की रिक्तियां</li>
                    <li>कल्याण</li>
                </ul>
            </div>
            <div class="col-md-2 mt-5 mt-md-0">
                <h3>हमसे संपर्क करें</h3>
                <ul>
                    <li>विज्ञापन व्यापार </li>
                    <li>व्यापार</li>
                    <li>मीडिया</li>
                    <li>करियर</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container text-center mt-5">
        &copy; 2018-2023, Hippo Entertainment Limited. All rights reserved.
    </div>
</footer>